body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
